@import "./reset.css";
@import "./root.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

div {
    display: flex;
    flex-direction: column;
    background-color: var(--background);

    border-radius: 4px;
}

label {
    font-family: "Roboto";
    font-size: 24px;
    text-align: center;

    color: white;
}

textarea {
    padding: 15px;
    font-family: "Montserrat", sans-serif;

    background-color: white;
    border-bottom: 1px solid var(--background);
    border-radius: 4px;
}

button {
    padding: 15px 25px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    background-color: var(--background);

    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    color: var(--background);
    background-color: transparent;
    border: 1px solid var(--background);
}
